*:not(.fa) {
  font-family: 'Work Sans', sans-serif !important;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tmd-reminders-section,
.tmd-reminders-table,
.tmd-create-reminder-mdc,
.tmd-gen-modal,
.tmd-welcome-message,
.tmd-register-mdc,
nav > ul > li:last-of-type{
  display: none;
}

html, body {
  height: 100%;
  min-height: 640px;
  min-width: 360px;
  box-sizing: border-box;
}

body {
  background-image: url('../bg.jpg');
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #F0EFED
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

nav {
  background-color: #173165;
  position: fixed;
  display: inline-block;
  vertical-align: middle;
  max-height: 65px;
  height: 65px;
  min-height: 65px;
  width: 100%;
  min-width: 360px;
  top: 0;
  z-index: 10;
}

nav img {
  display: inline-block;
  vertical-align: middle;
  height: 65%;
  margin-top: 10px;
  min-height: 25px;
}

nav > h1 {
  display: inline-block;
  color: #ffffff;
  font-size: 25px;
  margin-top: 8px;
  font-weight: normal;
  vertical-align: middle;
}

nav > ul {
  float: right;
  display: block;
  height: 100%;
}

nav > ul > li,
nav > ul > li > a {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

nav > ul > li > a {
  color: white;
  font-size: 20px;
  padding: 20px 10px 20px 10px;
  border-right: 1px #173165 solid;
  border-left: 1px #173165 solid;
}

nav li a:hover {
  background-color: #474545;
  border-right: 1px white solid;
  border-left: 1px white solid;
}

footer {
  background-color: #173165;
  color: white;
  position: fixed;
  display: inline-block;
  height: 45px;
  max-height: 65px;
  min-height: 65px;
  width: 100%;
  min-width: 360px;
  bottom: 0;
  padding: 20px 10px 30px 10px;
  font-size: 20px;
}

main {
  margin: 80px 15px 0 15px;
}

h1 {
  font-size: 26px;
  font-weight: bold;
}

h2 {
  font-size: 25px;
  font-weight: bold;
}

.tmd-splash,
.tmd-gen-modal{
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 85px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  text-align: center;
  overflow: auto;
  color: black;
  font-size: 20px;
}

.tmd-splash p,
.tmd-gen-modal p {
  margin-top: 25px;
  margin-bottom: 20px;
  line-height: 1.3;
}

.tmd-splash img {
  display: block;
  margin: 10px auto 10px auto;
}

input {
  display: block;
  outline: none;
  width: 100%;
  font-size: 25px;
  height: 50px;
  border: none;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  border-bottom: 3px solid #173165;
  text-align: center;
}

label{
  color: #173165;
  margin-top: 10px;
}

button,
#tmd-new-reminder-button {
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  font-size: 20px;
  background-color: #173165;
  color: white;
  outline: none;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: none;
}

button:hover,
#tmd-new-reminder-button:hover {
  background-color: #474545;
}

#tmd-new-reminder-button {
  display: inline-block;
  width: 45%;
  float: right;
}

header,
.tmd-gen-modal,
.tmd-welcome-message,
.tmd-reminder-card,
.tmd-splash {
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25),
  1px 1px 1px 1px rgba(0,0,0,0.22);
}

.tmd-welcome-message {
  margin-bottom: 15px;
  background-color: white;
  padding: 10px;
  text-align: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px
}

.tmd-reminders-section > div > h2 {
  display: inline-block;
  margin-top: 35px;
}

.tmd-reminders-section div {
  width: 100%;
  padding: 5px;
  overflow: auto;
}

.tmd-reminders-table {
  width: 100%;
}

.tmd-reminder-card{
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
}

.tmd-reminder-card h3 {
  font-size: 17px;
  color: #474545;
  margin-bottom: 5px;
}

.tmd-reminder-card-date {
  float:right;
  color: #474545;
  font-size: 15px;
}

.tmd-reminders-card-text{
  font-size: 15px;
  margin-top: 10px;
}

i.fa-check{
  color: green;
}

i.fa-clock-o{
  color: gold;
}

.fa-2x{
  float: right;
}

sub {
  font-size: 10px !important;
  display: inline-block;
  margin-right: 10px;
  padding-top: 20px;
}

.tmd-reminder-status{
  text-align: right;
}

/* Larger Screens */
@media only screen and (min-width: 769px){
  .tmd-splash,
  .tmd-gen-modal {
    width: 50%;
    min-height: 20%;
    position: absolute;
    top: 15%;
    left: 25%;
    padding: 35px;
  }

  .tmd-splash p {
    text-align: justify;
  }

  button {
    width: 50%;
  }

  h1 {
    font-size: 34px;
  }

  input {
    width: 75%;
    font-size: 25px;
    height: 65px;
  }

  .tmd-welcome-message {
    width: 50%;
  }

  .tmd-reminders-section {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }

}

/* Really Small Case */
@media only screen and (max-width: 413px){
  nav > h1 {
    font-size: 21px;
  }
}

/* Really Small Case */
@media only screen and (max-width: 361px){
  nav img {
    height: 60%;
  }
}
